<div class="container fh5co-container">

    <div class="row">
      <div class="col-md-12 animate-box" data-animate-effect="fadeIn">
        <div class="fh5co-404-wrap" id="video" data-vide-bg="video/Crocodile" data-vide-options="position: 0 50%">
          <div class="overlay"></div>
        </div>
      </div>
      <div class="col-md-12 text-center fh5co-404-text animate-box"  data-animate-effect="fadeIn">
        <h2>Looks like you got lost</h2>
        <p><a routerLink="/home" class="btn btn-primary">Go back home</a></p>
      </div>
      <div class="col-md-12 text-center fh5co-copyright animate-box" data-animate-effect="fadeInUp">
        <p><small>&copy; All Rights Reserved. Designed by <a href="https://freehtml5.co">FreeHTML5.co</a> Video by <a href="http://www.coverr.co/" rel="nofollow" target="_blank">Coverr</a></small></p>
      </div>
    </div>

  </div>
