/* start style listComponent */
.card,form{
  margin-top: 1rem;
}
.state-alivrer{
  color: #ff0000;
}
.state-encours{
  color: #0051ff;
}
.state-livree{
  color: #2cad66;
}
/* fin style listComponent */

/* start style nav */
body .navbar-light .navbar-nav .nav-link{
  min-width: 5rem;
  text-align: center;
}
body .navbar-light .navbar-nav .nav-link.active{
  color:#fff;
  background: rgb(175, 174, 174);
  border-radius: 5px;
}
/* fin style nav */
