/* start style listComponent */
.card{
  margin-top: 1rem;
}
.state-alivrer{
  color: #ff0000;
}
.state-encours{
  color: #0051ff;
}
.state-livree{
  color: #2cad66;
}
/* fin style listComponent */

/* start style nav */
.active{
  color : #a22cad;
}
/* fin style nav */
