<!--
<div class="card border-secondary mb-3" style="max-width: 18rem;" >
  <div class="card-header">Header</div>
  <div class="card-body text-secondary">
    <h5 class="card-title">Secondary card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
-->

<div class="container" >
  <h1>En Cours</h1>
  <ng-container *ngFor="let cmd of collection | filterByState">
    <app-item [item]="cmd"></app-item>
  </ng-container>
</div>
